/* RESET */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}



/* GENERICS */

header{
    height: 100px;
    background-color: mediumaquamarine;
    
}


.column-left{
    min-height: 400px;
    width: 60%;
    background-color: lightskyblue;
    border: 2px dashed black;
}

.column-right{
    min-height: 400px;
    width: 40%;
    background-color: pink;
    border: 2px dashed black;
}


/* UTILITY */

.d-flex{
    display: flex;
}

.c-center{
    max-width: 1080px;
    margin: auto;
}

.bg-gray{
    background-color: gray;
}

/* HEADER */

.container-header{
    background-color: gold;

    
}

.logo{
    width: 25%;
    height: 50px;
    border: 2px dashed black;


}
 
.nav-link{
    height: 50px;
    width: 50%;
    border: 2px dashed black;


}

.login{
    height: 50px;
    width: 25%;
    border: 2px dashed black;

}

/* SECTION HEAD */

.section-head{
    min-height: 500px;
    background-color: blue;
}

.content-head{
    width: 60%;
    height: 400px;
    background-color: plum;
    border: 2px dashed black;
}

/* MAIN COLUMN AND CONTENT */

.main-content{
    flex-direction: row;
    padding: 50px;
}

.main-content-reverse{
    flex-direction: row-reverse;
    padding: 50px;
}

.content{
    min-height: 800px;
    background-color: green;
    border: 2px dashed black;
    padding: 50px;
}
